#header { background-color: #eab676;
        color: #5e492f;
        text-align: center;
}
#footer { background-color: #eab676;
        text-align: center;
}
#wrapper { background-color: #fbf0e4; 
        width: 80%;
        margin: auto;
        min-width:850px;
.electroboom {padding: 20px;}
#leftcolumn { width: 200px;
        height:1000px;
        background-color: #f2d3ad;
        display: inline-block;
}
#rightcolumn {height: 1000px;
        margin-left: 200px;
        width: 1000px;
        display: inline-block;
}
#leftcolumn ul {list-style-type: none;}
#leftcolumn a {text-decoration: none;}
